function ScreenCounter.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 16384
pop static 0
push constant 24575
pop static 1
push pointer 0
return
function ScreenCounter.getCount 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push static 0
pop local 0
label WHILE_EXP0
push local 0
push static 1
gt
not
not
if-goto WHILE_END0
push local 0
call Memory.peek 1
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 1
add
pop local 1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
return
function ScreenCounter.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
